.card-main {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -5px;
}

.card-group > * {
    margin: 5px;
}

.card {
    box-shadow: -2px 1px 10px 3px rgba(247, 248, 255, 1);
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    min-width: 0;
    padding: 10px;
}

.card-analytics {
    align-items: flex-start;
    flex: 1;
    flex-direction: column-reverse;
}

.card-analytics.active {
    background-color: #ff392b;
}

.card-analytics .card-image {
    flex: 2;
}

.card-analytics .card-body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-analytics .card-title {
    font-weight: 100;
    font-size: 10px;
    margin: 0;
    opacity: 0.5;
}

.card-analytics.active .card-title {
    color: #ffff;
}

.card-analytics .card-text {
    color: #3326ae;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 5px;
}

.card-analytics.active .card-text {
    color: #ffff;
}

.card-statistics .card-image {
    width: 100%;
    height: 150px;
}

.card-spentTime {
    flex-direction: column;
}

.card-spentTime .card-header {
    display: flex;
    align-items: center;
    flex: 1;
}

.card-spentTime .card-header {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding: 0 50px;
}

.card-spentTime .card-title {
    font-size: 20px;
    font-weight: normal;
}

.card-spentTime .card-image {
    height: 355px;
}

.card-connect {
    flex-direction: column;
    padding: 25px 30px;
    width: 100%;
}

.card-connect .card-header {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.card-connect .card-header svg {
    height: 40px;
    width: 40px;
}

.card-connect .card-header_name {
    margin-left: 20px;
}

.card-connect .card-header_name .card-title,
.card-connect .card-header_name .card-text {
    margin: 0;
}

.card-connect .card-header_name .card-title {
    font-size: 16px;
}

.card-connect .card-header_name .card-text {
    font-size: 13px;
    padding-top: 3px;
    opacity: 0.3;
}

.card-connect .card-icons span {
    margin-left: 5px;
    margin-right: 10px;
}

.card-connect .card-body .card-title {
    font-size: 22px;
    line-height: 1.5;
}

.card-connect .card-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.card-connect .card-footer .btn {
    background-color: #3326ae;
    border-radius: 20px;
    border: none;
    color: #ffff;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
}

.card-connect .card-footer svg {
    margin-left: 10px;
}

@media screen and (min-width: 769px) {
    .card-main {
        margin-right: 10px;
    }

    .card-group {
        margin: -10px;
    }

    .card-group > * {
        margin: 10px;
    }

    .card-analytics {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 110px;
        padding: 15px;
        overflow: hidden;
    }

    .card-analytics .card-image {
        flex: 1;
    }

    .card-analytics .card-body {
        flex-direction: column;
        flex: 2;
        padding-left: 5px;
    }

    .card-analytics .card-text {
        font-size: 25px;
    }

    .card-statistics .card-image {
        height: 355px;
    }
}
