.home {
    display: flex;
    margin-top: 20px;
}

.card-main {
    display: flex;
    flex-direction: column;
    flex: 3;
}
@media screen and (min-width: 769px) {
    .home {
        margin-top: 50px;
    }
}
