.layout {
    display: flex;
    min-height: 100vh;
}

.container {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .layout {
        flex-direction: column;
    }
    .container {
        flex: 1;
    }
}
