header,
footer {
    padding-left: 50px;
    padding-right: 50px;
}

header {
    height: 50px;
}

footer,
aside {
    background-color: #3326ae;
    height: 70px;
}

nav {
    align-items: center;
    display: flex;
}

.navbar-links {
    display: flex;
    flex: 2;
    padding-left: 0;
    justify-content: flex-end;
}

.navbar-right {
    flex: 1;
}

.brand {
    flex: 2;
}

.brand svg {
    filter: drop-shadow(-5px -3px 1px rgba(143, 136, 210, 1));
    transform: rotate(120deg);
}

.search-form {
    flex: 3;
    height: 45px;
    position: relative;
    width: 100%;
}

.search-form svg {
    left: 15px;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

input[type='search'] {
    border-radius: 15px;
    border: none;
    background-color: #f7f8ff;
    height: 100%;
    text-indent: 40px;
    width: inherit;
}

input[type='search']::-webkit-input-placeholder {
    color: black;
    opacity: 0.3;
}

.navbar-links {
    list-style: none;
}

.svg-wrapper {
    display: flex;
    justify-content: flex-end;
}

.notification {
    position: relative;
}

.notification svg:first-child {
    color: #ff392b;
    height: 5px;
    position: absolute;
    right: -2px;
    width: 5px;
}

.svg-wrapper svg {
    color: #bbbed9;
    padding-left: 15px;
}

.navbar-link {
    color: black;
}

.nav-primary {
    height: 100%;
}

.nav-primary .navbar-links {
    justify-content: space-evenly;
}

.nav-secondary {
    height: 100%;
    position: relative;
}

.nav-secondary .navbar {
    flex: 3;
    justify-content: space-around;
}

.nav-secondary .nav-item .navbar-link svg {
    color: #7067c6;
    height: 25px;
    width: 25px;
}

.nav-secondary .nav-item-home {
    flex: 1;
}

.nav-secondary .nav-item-home .navbar-link {
    align-items: center;
    bottom: 0;
    border-radius: 8px;
    background-color: #ffff;
    box-shadow: 0px -10px 10px 0px #f7f8ff;
    display: flex;
    height: 40px;
    justify-content: center;
    left: 4%;
    position: absolute;
    top: -20px;
    width: 35px;
}

.nav-secondary .nav-item-home svg {
    color: #ff392b;
    height: 25px;
    width: 25px;
}

@media (min-width: 769px) {
    header {
        height: 50px;
        margin-top: 40px;
    }
    aside {
        flex-shrink: 0;
        height: auto;
        width: 100px;
    }

    .nav-secondary {
        flex-direction: column;
    }

    .brand {
        flex: 1;
        margin-top: 45px;
    }

    .nav-secondary .brand svg {
        color: #ffff;
        width: 30px;
        height: 25px;
    }

    .nav-secondary .navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav-secondary .nav-item-home .navbar-link {
        border-radius: 13px;
        box-shadow: 5px 0px 10px 0px #f7f8ff;
        height: 60px;
        left: 60px;
        position: absolute;
        top: 220px;
        width: 60px;
    }

    .nav-secondary .nav-item {
        padding: 55px 0;
    }

    .nav-secondary .nav-item:first-child {
        padding-top: 0;
    }
}
